{% load static tailwind_tags %}
{% load django_htmx %}
<!DOCTYPE html>
<html lang="en" class="h-full bg-white dark:bg-gray-900">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}DevOps Hero{% endblock %}</title>

    {% htmx_script %}
    {% tailwind_css %}

    <!-- Include Tailwind Plus Elements for the components from Tailwind Application UI that require javascript -->
    <!-- like for example the profile dropdown menu -->
    <script src="https://cdn.jsdelivr.net/npm/@tailwindplus/elements@1" type="module"></script>

    {% block extra_head %}{% endblock %}    
</head>
<body hx-headers='{"x-csrftoken": "{{ csrf_token }}"}' class="h-full">
    {% block content %}{% endblock %}

    {% include "devopshero_app/partials/_debug_htmx_indicator.html" %}
</body>
</html>
