<%# admin_live.html.heex template %>
  <.form :let={f} for={@changeset} >
    <%= for c <- @clusters do %>
      <% cluster = Map.get(@cluster_map, c) %>
      <ul>
                <li class="flex items-center py-4 space-x-8  rounded-lg border "
                    phx-click="cluster_click"
                    phx-value-cluster={c}
                    >
                    <%= checkbox f, :clusters,
                         name: "admin_live[clusters][#{c}]",
                         value: !( Ecto.Changeset.get_field(@changeset, :clusters)|>Map.get(c)),
                         id: "#{c}",
                         class: "form-checkbox"
                         %>
                  <div class="flex flex-col">
                    <span class="text-sm font-medium text-gray-900 leading-5">
                      <%= c %>
                    </span>
                    <span class="text-sm text-gray-900 leading-5">
                      <%= cluster.db_schemas |> Enum.map(&(&1.name))|> Enum.join(" ") %>
                    </span>
                  </div>
                </li>
      </ul>
    <% end %>
  </.form>
