<!-- outer container -->
<div class="mx-auto bg-white rounded-lg">
  <.live_component
      module={DbPortalWeb.ReadOnlySchemaSelectorComponent}
      id= {1}
      envs= {~w(prod)}
      env= {@env}
      schema= {@schema}
      permitted_schema_ids= {:all}
  />

  <div class="grid grid-cols-2">
    <div class="">
      <div class="pr-3 py-6 bg-gray-100">
        <div class="m-auto p-8 overflow-hidden bg-white shadow sm:rounded-lg">
          <div class="px-4 py-6 sm:px-0">
            <h3 class="text-base font-semibold leading-7 text-gray-900">Break Glass Account Access</h3>
            <p class="mt-1 max-w-2xl text-sm leading-6 text-gray-500">For emergency use only by
               <span class="font-sans font-semibold"><%= @user_email %></span>
            </p>
          </div>
          <div class="mt-6 border-t border-gray-100">
            <dl class="divide-y divide-gray-100">
              <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                <dt class="text-sm font-medium leading-6 text-gray-900">Database username</dt>
                <dd class="mt-1 flex text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
                  <span id="db_user_name" class="flex-grow"><%= @db_user_name %></span>
                  <span class="ml-4 flex-shrink-0">
                    <button id="copy_db_user_name" type="button" data-to="#db_user_name" phx-hook="Copy" class="rounded-md bg-white font-medium text-gray-600 hover:text-gray-400">
                      <.icon name="hero-clipboard"/>
                    </button>
                  </span>
                </dd>
              </div>
              <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                <dt class="text-sm font-medium leading-6 text-gray-900">Database Password</dt>
                <dd class="mt-1 flex text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
                  <span id="password" class="flex-grow"><%= @password %></span>
                  <span class="ml-4 flex-shrink-0">
                    <button id="copy_password" type="button" data-to="#password" phx-hook="Copy" class="rounded-md bg-white font-medium text-gray-600 hover:text-gray-400">
                      <.icon name="hero-clipboard"/>
                    </button>
                  </span>
                </dd>
              </div>
              <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                <dt class="text-sm font-medium leading-6 text-gray-900">Database Hostname</dt>
                <dd class="mt-1 flex text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
                  <span id="cluster" class="flex-grow"><%= @cluster_endpoint %></span>
                  <span class="ml-4 flex-shrink-0">
                    <button id="copy_cluster" type="button" data-to="#cluster" phx-hook="Copy" class="rounded-md bg-white font-medium text-gray-600 hover:text-gray-400">
                      <.icon name="hero-clipboard"/>
                    </button>
                  </span>
                </dd>
              </div>
              <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                <dt class="text-sm font-medium leading-6 text-gray-900">Schema</dt>
                <dd class="mt-1 flex text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
                  <span id="schema" class="flex-grow"><%= @schema_name %></span>
                  <span class="ml-4 flex-shrink-0">
                    <button id="copy_schema" type="button" data-to="#schema" phx-hook="Copy" class="rounded-md bg-white font-medium text-gray-600 hover:text-gray-400">
                      <.icon name="hero-clipboard"/>
                    </button>
                  </span>
                </dd>
              </div>
            </dl>
            <.button disabled={@disabled} phx-click="break_glass" phx-disable-with="Creating account..."><%= if @disabled, do: "Account created", else: "Break Glass Now"%></.button>
          </div>
        </div>
      </div>
    </div>
    <div class="flex items-center justify-center">
      <img src={Routes.static_path(@socket, "/images/firealarm_1000.jpeg")}/>
    </div>
  </div>

</div>
