<script>
  // taken from https://stackoverflow.com/a/38821410
  function copyElementContents(el) {
    var body = document.body, range, sel;
    if (document.createRange && window.getSelection) {
      range = document.createRange();
      sel = window.getSelection();
      sel.removeAllRanges();
      try {
        range.selectNodeContents(el);
        sel.addRange(range);
      } catch (e) {
        range.selectNode(el);
        sel.addRange(range);
      }
    } else if (body.createTextRange) {
      range = body.createTextRange();
      range.moveToElementText(el);
      range.select();
    }
    document.execCommand("Copy");
  }
</script>

<!-- outer container -->
<div class="mx-auto bg-white rounded-lg shadow">

  <div class="grid grid-cols-1">
    <!-- menus (prod/dev, schema) -->
    <.live_component
          module={DbPortalWeb.ReadOnlySchemaSelectorComponent}
          id= {1}
          envs= {~w(prod)}
          env= {@env}
          schema= {@schema}
          permitted_schema_ids= {:all}

    />


    <!-- query -->
    <.form for={@form} phx-change="validate" phx-submit="exec_query" class="h-auto border border-blue" >
      <div class="p-3 m-2 rounded-md">
        <h2 class="inline-block text-xl font-semibold">Query</h2>
        <div class="inline-block">
          <span class="ml-3">History: </span>
          <.input type="select" field={@form[:history]} options={@history_list|>Enum.map(fn {q,id}->{String.slice(q,0..50),id} end)} prompt="Choose from previous queries..." class="bg-white text-base border-gray-300 focus:outline-none focus:ring-ch-blue focus:border-ch-blue sm:text-sm rounded-md" />
        </div>
        <LiveMonacoEditor.code_editor
          path="query"
          class="w-full h-64 p-1 bg-dodgerblue-50 focus:border-dodgerblue-300 resize-y overflow-hidden"
          value= {@form[:query].value}
          change="set_query_value"
          opts = {Map.merge(
                LiveMonacoEditor.default_opts(),
                %{
                  "language" => "sql",
                  "lineNumbers" => "off",
                  "matchBrackets" => 'always',
                  "theme" => "hc-light",
                  "renderIndentGuides" => false,
                  "minimap" => %{
                    "enabled" => false,
                  },
                  "scrollbarVisibility" => "hidden"
                }
              )}
        />
        <button type="submit" class="px-4 py-2 font-bold text-white rounded bg-ch-blue hover:bg-dodgerblue-600" value="run_query" phx-disable-with="Querying...">Run Query</button>
      </div>
    </.form>

    <!-- results -->
    <div class="p-3 m-2 overflow-x-auto bg-gray border-blue">
      <h2 class="inline-block text-xl font-semibold">
        Results</h2>
      <div class="inline-block">
        <%= if @rows != [] do %>
          | <a href={ generate_download(@cols, @rows)}
               class="mx-2 font-normal text-dodgerblue-500"
               title="Download CSV"
               download
               target="_blank"
               >Download
               <svg class="inline w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                 <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-4l-4 4m0 0l-4-4m4 4V4" />
               </svg>
            </a>|
            <a href="#"
               class="mx-2 font-normal text-dodgerblue-500"
               onClick="copyElementContents(document.getElementById('results'))"
               title="Copy to clipboard"
               >Copy to clipboard
               <svg class="inline w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                 <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 5H6a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2v-1M8 5a2 2 0 002 2h2a2 2 0 002-2M8 5a2 2 0 012-2h2a2 2 0 012 2m0 0h2a2 2 0 012 2v3m2 4H10m0 0l3-3m-3 3l3 3" />
               </svg>
            </a>
          <% end %>
        </div>
      </div>
      <table id="results" class="w-full mt-2 overflow-x-auto bg-white shadow-lg table-auto whitespace-nowrap">
        <thead>
          <tr>
            <%= for c <- @cols do %>
              <th class="px-8 py-2 text-left bg-blue-100 border"><%= c %></th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <%= for r <- @rows do %>
            <tr>
              <%= for rd <- r do %>
                <td class="px-4 py-1 text-left whitespace-pre border whitespace-nowrap"><%= rd %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
