<div class="grid grid-cols-2 gap-x-2">

<div class="divide-y divide-gray-200 overflow-hidden rounded-lg bg-white shadow">
  <div class="px-4 py-5 sm:px-6">
    Clusters
    <!-- Content goes here -->
    <!-- We use less vertical padding on card headers on desktop than on body sections -->
  </div>
  <div class="px-4 py-5 sm:p-6">
    <!-- Content goes here -->

    <div>
      <ul role="list" class="divide-y divide-gray-100">
          <%= for c <- @clusters do %>
            <.cluster name={c.name} schemas={schemas(c)} enabled={MapSet.member?(@enabled_clusters, c.name)}/>
          <% end %>
      </ul>
      <a href="#" class="flex w-full items-center justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus-visible:outline-offset-0">View all</a>
    </div>
  </div>
</div>

  <div class="divide-y divide-gray-200 overflow-hidden rounded-lg bg-white shadow">
    <div class="px-4 py-5 sm:px-6">
      Sampling History
      <!-- Content goes here -->
      <!-- We use less vertical padding on card headers on desktop than on body sections -->
    </div>
    <div class="px-4 py-5 sm:p-6">
      <!-- Content goes here -->
      content 2
    </div>
  </div>

</div>
