<%# user_admin_live.html.leex template %>

<%
%>

<div class="rounded-lg shadow-xl bg-dodgerblue-50">
  <h2 class="font-semibold text-center">USER ADMIN</h2>

  <%= f = form_for @changeset, "#", phx_change: :validate, phx_submit: :execute %>
    <div class="flex justify-center p-2">
      <div class="w-64 h-screen md:w-64">
        <h3 class="text-lg font-semibold border-b border-dodgerblue-400 text-dodgerblue-900">Clusters</h3>
        <ul class="shadow-md divide-y divide-dodgerblue-200">
          <%= for c <- @clusters do %>
            <li class="flex items-center py-4 space-x-8  rounded-lg border <%=toggle_classes(cluster(@changeset, c))%>"
                phx-click="cluster_click"
                phx-value-cluster="<%=c%>"
                >
                <%= checkbox f, :"clusters",
                     name: "user_admin_live[clusters][#{c}]",
                     value: cluster(@changeset, c),
                     id: "#{c}",
                     class: "form-checkbox"
                     %>
              <div class="flex flex-col">
                <span class="text-sm font-medium text-gray-900 leading-5">
                  <%= c %>
                </span>
                <span class="text-sm text-gray-900 leading-5">
                  <%= c %>
                </span>
              </div>
            </li>
          <% end %>
        </ul>
      </div>

      <div class="flex-auto ml-4">
        <h3 class="text-lg font-semibold border-b border-dodgerblue-400 text-dodgerblue-900">User Form</h3>
        <div class="flex flex-col mt-3 shadow-md">
          <%= label f, :username, "Username", class: "mt-3 block text-sm font-medium leading-5 text-gray-700" %>
          <div class="mt-1 rounded-md shadow-sm">
            <%= error_tag f, :username %>
            <%= text_input f, :username, class: "form-input block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5" %>
          </div>

          <%= label f, :same_password, "Use same password?", class: "mt-3 block text-sm font-medium leading-5 text-gray-700" %>
          <%= checkbox f, :same_password, class: "p-1 form-checkbox" %>

          <%= label f, :schemaname, "Schema", class: "mt-3 block text-sm font-medium leading-5 text-gray-700"%>
          <%= error_tag f, :schemaname %>
          <%= text_input f, :schemaname, class: "form-input block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5" %>


          <fieldset class="mt-5" x-data="{
                            selected: '<%= Ecto.Changeset.get_field(@changeset, :grants)%>',
                            is_sel(opt) { return this.selected==opt;}
                            }">
            <legend class="">
              Grants
            </legend>

            <% opts = [
                %{
                  id: :readonly,
                  val: :readonly,
                  header: "Read Only",
                  desc: "SELECT",
                  classes: "rounded-tl-md rounded-tr-md"
                },
                %{
                  id: :write,
                  val: :write,
                  header: "Read/Write",
                  desc: "SELECT, INSERT, UPDATE, DELETE",
                  classes: ""
                },
                %{
                  id: :admin,
                  val: :admin,
                  header: "Admin",
                  desc: "SELECT, INSERT, UPDATE, DELETE, GRANT",
                  classes: "rounded-bl-md rounded-br-md"
                },
              ]
            %>
            <%= for opt <- opts do %>
            <div class="bg-white rounded-md -space-y-px" x-on:click="selected = '<%=opt.val%>'">
              <!-- On: "bg-indigo-50 border-indigo-200 z-10", Off: "border-gray-200" -->
              <div class="relative flex p-4 border <%=opt.classes%>" x-bind:class="{
                          'bg-dodgerblue-100': is_sel('<%=opt.val%>'),
                          'border-dodgerblue-200': is_sel('<%=opt.val%>'),
                          'z-10': is_sel('<%=opt.val%>'),
                          'border-gray-200': !is_sel('<%=opt.val%>')
                          }" >
                <div class="flex items-center h-5">
                  <%= radio_button f, :grants, opt.val, id: opt.id, value: opt.val, class: "w-4 h-4 text-indigo-600 cursor-pointer form-radio transition duration-150 ease-in-out", "x-model": "selected" %>
                </div>
                <label for="<%= opt.id %>" class="flex flex-col ml-3 cursor-pointer">
                  <!-- On: "text-indigo-900", Off: "text-gray-900" -->
                  <span class="block text-sm font-medium leading-5"
                        x-bind:class="{
                                       'text-dodgerblue-900': is_sel('<%=opt.val%>'),
                                       'text-gray-900': !is_sel('<%=opt.val%>')
                                       }"
                        >
                    <%= opt.header %>
                  </span>
                  <!-- On: "text-indigo-700", Off: "text-gray-500" -->
                  <span class="block text-sm leading-5"
                        x-bind:class="{
                                       'text-dodgerblue-700': is_sel('<%=opt.val%>'),
                                       'text-gray-500': !is_sel('<%=opt.val%>')
                                       }"
                    >
                    <%= opt.desc %>
                  </span>
                </label>
              </div>
            </div>
            <% end %>
          </fieldset>
            <%= @changeset.valid? %>

          <%= submit "Submit", class: "mt-5 bg-dodgerblue-400 disabled:opacity-75 disabled:cursor-not-allowed w-32 rounded-full form-button", disabled: !@changeset.valid?  %>

        </div>
      </div>
    </div>
  </form>
</div>

