{# Out-of-band sidebar updates for htmx navigation #}
{# Include this at the end of any htmx response to update the sidebar active state #}

{# Desktop sidebar OOB update #}
<div id="sidebar-nav-desktop" hx-swap-oob="true" class="flex grow flex-col gap-y-5 overflow-y-auto bg-black/10 px-6 pb-4">
    {% include "devopshero_app/partials/_sidebar_nav.html" %}
</div>

{# Mobile sidebar OOB update #}
<div id="sidebar-nav-mobile" hx-swap-oob="true" class="relative">
    {% include "devopshero_app/partials/_sidebar_nav.html" %}
</div>

