<div class="mx-auto bg-white rounded-lg">

  <div class="border border-blue h-auto">
    <div class="m-2 rounded-md p-3">
      <h2 class="text-2xl text-ch-blue">
        Athena Tools
      </h2>
    </div>
  </div>


  <.live_component module={DbPortalWeb.AthenaTools.CopyTableComponent} id={1} table_to_copy={@table_to_copy} selected_tables={@selected_tables} />


  <.modal
    id="confirm_delete"
    on_cancel={hide_modal("confirm_delete")}
    on_confirm={JS.push("delete_tables") |> hide_modal("confirm_delete")}
    >
    <:title>Confirm</:title>
    Do you really want to permanently delete <%=
    ngettext("the table", "the %{count} tables", length(@selected_tables)) %> <%= inspect(@selected_tables) %>?
    <:cancel>Cancel</:cancel>
    <:confirm>Confirm</:confirm>
  </.modal>

  <.modal
    id="confirm_recycle"
    on_cancel={hide_modal("confirm_recycle")}
    on_confirm={JS.push("recycle_tables") |> hide_modal("confirm_recycle")}
    >
    <:title>Confirm</:title>
    Do you really want to move
    <%= ngettext("this table", "these %{count} tables", length(@selected_tables)) %> <%= inspect(@selected_tables) %>
    to the recycle bin?
    <:cancel>Cancel</:cancel>
    <:confirm>Confirm</:confirm>
  </.modal>

  <div class="flex w-full" style="min-height: 750px; max-height: 750px">
    <%= cond do%>
      <% connected?(@socket) and @operation_view_state == "no_operation" -> %>
      <div class="flex flex-col w-1/4">
        <div class="px-3 py-3 text-xs font-medium text-gray-500 rounded-t-md bg-gray-100">DATABASES</div>
        <div class="align-middle inline-block overflow-y-scroll overflow-x-auto h-full">
          <table class="min-w-full divide-y divide-gray-200">
            <tbody class="bg-white divide-y divide-gray-200">
              <%= for db_name <- @database_names do %>
                <tr>
                  <%
                    td_class = if db_name == @selected_db do
                      "px-3 py-1 whitespace-nowrap text-sm font-medium bg-dodgerblue-500 text-white"
                    else
                      "px-3 py-1 whitespace-nowrap text-sm font-normal text-gray-900 cursor-pointer hover:bg-gray-200"
                    end
                  %>
                  <td class={td_class}>
                    <.link patch = {~p"/athena_tools?db_name=#{db_name}"} class= "px-3 py-1 h-full w-full block" >
                      <%= db_name %>
                    </.link>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>

      <%= cond do %>
      <% @show_create_view_modal -> %>
        <.live_component module={DbPortalWeb.AthenaTools.CreateViewComponent} id={2} selected_db= {@selected_db} create_view_in_progress={@create_view_in_progress} />

      <% length(@unfiltered_tables) > 0 -> %>
        <div class="flex flex-col w-3/4">
          <div class="px-3 py-3 text-xs font-medium text-gray-500 rounded-t-md bg-gray-100">
            TABLES
          </div>

          <div class="flex flex-row min-w-full pt-1 pb-1 px-3 justify-between">
            <form phx-change="on_filter_by_change" class="flex flex-row w-11/12">
              <.dropdown legend="Actions"  >
                <:link phx-click="on_menu_entry_click" phx-value-menu-entry="Select All">Select All</:link>
                <:link phx-click="on_menu_entry_click" phx-value-menu-entry="Select None">Select None</:link>
                <:link divider/>
                <:link phx-click={JS.push("copy_or_move_tables") |> show_modal_js("copy_or_move_tables")} >Copy or Move Tables</:link>
                <:link phx-click={show_modal_js("confirm_recycle") }>Move Tables to Recycle Bin</:link>
                <:link phx-click={show_modal_js("confirm_delete") } disabled={!@delete_tables_allowed?}>Delete Tables Permanently</:link>

              </.dropdown>
              <input type="text"
                    name="filter-by"
                    value={ @filter_by}
                    class="w-1/4 mx-3 shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block border-gray-300 rounded-sm text-xs"
                    placeholder="Filter tables by name..."
                    autocomplete="off"/>
              <div class="py-2 my-auto text-xs text-blue-500 tooltip relative">
                <.icon name="hero-list-bullet" class={"w-6 h-6 #{ if length(@selected_tables) > 0, do: "bg-blue-400", else: "bg-blue-200"}"} />
                <%= if length(@selected_tables)>0 do %>
                  <div class="top-1 left-1 tooltip-text">
                    <ul class="max-h-96 overflow-y-auto">
                      <%= for t<-@selected_tables do %>
                        <li><%= t %></li>
                      <% end %>
                    </ul>
                  </div>
                <% end %>
              </div>
              <nav class="text-xs text-blue-700 my-auto max-w-sm">
                <ul class="flex my-2">
                  <li class="">
                    <a class={"px-2 py-2 #{if @page_number <= 1, do: "pointer-events-none text-blue-500"} "}
                       href="#" phx-click="nav" phx-value-page={ @page_number - 1 }>Previous</a>
                  </li>
                  <%= for idx <- get_paginator_range(@page_number, @total_pages) do %>
                      <li class="">
                        <a class={"px-2 py-2 #{ if @page_number == idx, do: "pointer-events-none text-blue-500" }"}
                           href="#" phx-click="nav" phx-value-page={ idx }><%= idx %></a>
                      </li>
                  <% end %>
                  <li class="">
                    <a class={"px-2 py-2 #{if @page_number >= @total_pages, do: "pointer-events-none text-blue-500" }"}
                       href="#" phx-click="nav" phx-value-page={@page_number + 1} >Next</a>
                  </li>
                </ul>
              </nav>
            </form>
            <%= if @loading_tables do %>
              <div class="inline-flex items-center w-8 text-blue-500">
                <svg class="animate-spin h-5 w-5" viewBox="0 0 24 24">
                <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" fill="blue" stroke-width="4"></circle>
                <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                </svg>
              </div>
            <% end %>
            <button type="button"
              class="flex-none px-3 py-2 mr-3 ml-3 rounded-md border
                text-xs text-white rounded bg-ch-blue hover:bg-dodgerblue-600"
              phx-click="on_create_view_click"
              phx-value-database-name={@selected_db}
            >
              Create Athena View
            </button>
          </div>

          <div class="align-middle inline-block min-w-full overflow-y-scroll overflow-x-auto h-full">
            <table class="min-w-full divide-y divide-gray-100">
              <tbody class="bg-white divide-y divide-gray-100">
                <%= for table <- @tables do %>
                  <tr>
                    <td class={"px-3 py-1 whitespace-nowrap text-sm font-normal text-gray-900 cursor-pointer hover:bg-gray-200 #{if table.is_view, do: "text-blue-700"}"}
                        phx-click="on_table_checkbox" phx-value-table-name={table.table_name}>
                      <%= checkbox(:table_name_checkbox,
                                    :"#{table.table_name}",
                                    value: is_table_selected(@selected_tables, table.table_name),
                                    class: "mr-1 cursor-pointer") %>
                      <%= table.table_name %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      <% @loading_tables -> %>
        <div class="flex w-3/4 items-center justify-center text-gray-400">
          Loading...
        </div>
      <% @selected_db -> %>
        <div class="flex w-3/4 items-center justify-center text-gray-400">
          No tables in <%= @selected_db %>
        </div>
      <% true -> %>
        <div class="flex w-3/4 items-center justify-center text-gray-400">
          Select a database...
        </div>
      <% end %>


    <% @operation_view_state != "no_operation" -> %>
      <div class="flex flex-col w-full">
        <div class="flex flex-row items-center w-full justify-between bg-gray-100 h-16">
          <div class="flex-none text-medium px-2 text-gray-500 rounded-t-md">
            Current operation:
            <div class="inline-block px-2 text-sm"><%= if @operation_view_state == "done", do: "done...", else: "running..." %></div>
          </div>

          <%= if @operation_view_state == "done" do %>
            <button type="button"
              class="flex-none px-3 py-2 mr-3 ml-3 rounded-md border
                    text-xs text-white
                    bg-indigo-500 hover:bg-indigo-700
                    focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
              phx-click="on_close_operation_button_click">Close</button>
          <% end %>

        </div>

        <% get_log_level_color = fn level -> if level == :error, do: "text-red-900", else: "text-gray-500" end %>

        <div class="grid grid-cols-3 gap-0 px-2 grid-flow-row auto-rows-min text-sm font-mono text-gray-500 w-full h-full overflow-y-auto"
             style="grid-template-columns: 170px 50px auto;">
          <%= for p <- @operation_log do %>
            <span><%= p.timestamp %></span>
            <span class={get_log_level_color.(p.level)}><%= p.level %></span>
<span class={get_log_level_color.(p.level)} style="overflow-wrap:anywhere;"><%= p.log_msg %></span>
          <% end %>
        </div>

      </div>

    <% true -> %>
      <div class="">...</div>
    <% end %>  <!-- cond do -->
  </div>

</div>
